*.dll
*.exe
*.cmake
*.json
/.vscode
/build/.cmake
/build/.qt
/build/CMakeCache.txt
/build/CMakeFiles
/build/lib
/build/Main_autogen
/build/Makefile
build/bin/Main
*.DS_Store
*.dylib
/build/FunctionUi
/build/MainFrameUi
*.a
/build
